<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Interests</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="styles/interestsStyles.css">
</head>
<body>

<!-- Nav bar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../theDating">My Dating Website</a>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Interests</h1>

    <h3>In-door interests</h3>
    <input type="checkbox" id="tv" name="tv" value="tv">
    <label for="tv">tv</label>
    <br>

    <input type="checkbox" id="movies" name="movies" value="movies">
    <label for="movies">movies</label>
    <br>

    <input type="checkbox" id="cooking" name="cooking" value="cooking">
    <label for="cooking">cooking</label>
    <br>

    <input type="checkbox" id="board games" name="board games" value="board games">
    <label for="board games">board games</label>
    <br>

    <input type="checkbox" id="puzzles" name="puzzles" value="puzzles">
    <label for="puzzles">puzzles</label>
    <br>

    <input type="checkbox" id="reading" name="reading" value="reading">
    <label for="reading">reading</label>
    <br>

    <input type="checkbox" id="playing cards" name="playing cards" value="playing cards">
    <label for="playing cards">playing cards</label>
    <br>

    <input type="checkbox" id="video games" name="video games" value="video games">
    <label for="video games">video games</label>
    <br>

    <h3>Out-door interests</h3>
    <input type="checkbox" id="hiking" name="hiking" value="hiking">
    <label for="hiking">hiking</label>
    <br>

    <input type="checkbox" id="biking" name="biking" value="biking">
    <label for="biking">biking</label>
    <br>

    <input type="checkbox" id="swimming" name="swimming" value="swimming">
    <label for="swimming">swimming</label>
    <br>

    <input type="checkbox" id="collecting" name="collecting" value="collecting">
    <label for="collecting">collecting</label>
    <br>

    <input type="checkbox" id="walking" name="walking" value="walking">
    <label for="walking">walking</label>
    <br>

    <input type="checkbox" id="climbing" name="climbing" value="climbing">
    <label for="climbing">climbing</label>
    <br>

    <div class="col-sm-2">
        <input class="form-control btn btn-default" type="submit" value="Next">
    </div>

</div>
</body>
</html>