<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Interests</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="styles/interestsStyles.css">
</head>
<body>

<!-- Nav bar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../theDating">My Dating Website</a>
        </div>
    </div>
</nav>

<div class="interests-container container">
    <h1>Interests</h1>

    <form action="summary" method="post" class="">

    <b>In-door interests</b>

    <div class="row">
        <div class="column">

    <input type="checkbox" id="tv" name="indoor[]" value="tv">
    <label for="tv">tv</label>
    <br>

    <input type="checkbox" id="puzzles" name="indoor[]" value="puzzles">
    <label for="puzzles">puzzles</label>
    <br>

        </div>
        <div class="column">

    <input type="checkbox" id="movies" name="indoor[]" value="movies">
    <label for="movies">movies</label>
    <br>

    <input type="checkbox" id="reading" name="indoor[]" value="reading">
    <label for="reading">reading</label>
    <br>

        </div>
        <div class="column">

    <input type="checkbox" id="cooking" name="indoor[]" value="cooking">
    <label for="cooking">cooking</label>
    <br>

    <input type="checkbox" id="playing cards" name="indoor[]" value="playing cards">
    <label for="playing cards">playing cards</label>
    <br>

        </div>
        <div class="column">

    <input type="checkbox" id="board games" name="indoor[]" value="board games">
    <label for="board games">board games</label>
    <br>

    <input type="checkbox" id="video games" name="indoor[]" value="video games">
    <label for="video games">video games</label>
    <br>

        </div>
    </div>

    <br>

    <b>Out-door interests</b>

    <div class="row">
        <div class="column">

    <input type="checkbox" id="hiking" name="outdoor[]" value="hiking">
    <label for="hiking">hiking</label>
    <br>

    <input type="checkbox" id="biking" name="outdoor[]" value="biking">
    <label for="biking">biking</label>
    <br>

        </div>
        <div class="column">

    <input type="checkbox" id="swimming" name="outdoor[]" value="swimming">
    <label for="swimming">swimming</label>
    <br>

    <input type="checkbox" id="collecting" name="outdoor[]" value="collecting">
    <label for="collecting">collecting</label>
    <br>

        </div>
        <div class="column">

    <input type="checkbox" id="walking" name="outdoor[]" value="walking">
    <label for="walking">walking</label>
    <br>

        </div>
        <div class="column">

    <input type="checkbox" id="climbing" name="outdoor[]" value="climbing">
    <label for="climbing">climbing</label>
    <br>

        </div>
    </div>

    <div class="">
        <input class="form-control next-button btn btn-primary" type="submit" value="Next >">
    </div>

    </form>
</div>
</body>
</html>