.contact-button {
    width: 100px;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.summary-container {
    border-style: solid;
    border-width: 2px;
    border-color: #eee;
    border-radius: 8px;
    max-width: 700px
}

.bordered {
    border-style: solid;
    border-width: 2px;
    border-color: #eee;
    border-radius: 8px;
}

.entry {
    margin: 0px 0px 0px 15px;
}

.column {
    float: left;
    width: 47%;
    margin: 10px;
}

img {
    height: auto;
}

.biotext {
    margin: 0px 0px 10px 0px;
}